/* Scrollbar */
::-webkit-scrollbar {
width: 5px;
}
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px rgb(187, 187, 187); 
}
::-webkit-scrollbar-thumb {
background: #aaaaaa; 
border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
background: grey; 
}

body {
    margin: 0;
    height: 100%;
  }

.container {
    width: 100%;
    margin: 0%;
}
.wrap {
    /* background-color: black; */
    /* background-size: 100% auto; */
    height: auto; 
  
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    display: block;
  }

.h90 {
    height: 90vh;
}

.bg_bw {
    background-image: url(../images/bg2_bw.jpg)
}

.bg_wb {
    background-image: url(../images/bg2_wb.jpg)
}

.bg_b {
    background-color: rgba(0, 0, 0, 0.8)
}

.bg_w {
    background-color: rgba(255, 255, 255, 0.8)
}

.caption {
    /* position: absolute;
    width: 100%;
    text-align: center; */
    top: 30%;
}

.title1 {
    color : white;
    padding: 5px;
    /* border-style: solid;
    border-color: white; */
    font-size: 48px;
}

.content1 {
    top: 40%;
    font-size: 20px;
    color: white;
}

.fstart {
    display: flex;
    align-items: flex-start;
}

.imgcontainer {
    width: 100%;
    /* height: 10vw; */
    /* padding-bottom: 31.578947368%; */
}

.img_project {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.top20 { margin-top: 20px; }
.bot20 { margin-bottom: 20px; }
.width80 {
    width: 80vw;
    margin-right: auto;
    margin-left: auto;
}

.txt_white {
    color: white;
}

.clickable {
    cursor: pointer;
}